.App {
  text-align: center;
  color: white; 
}

.cosmologist {
  background: black; 
  color: white; 
  height: 100px; 
  width: 100%; 
}

.cosmologist > button {
  width: 100px; 
  height: 30px; 
  background: black; 
  color: white; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background: linear-gradient(180deg, rgba(2,0,36,1) 4%, rgba(113,20,7,1) 44%, rgba(11,17,12,1) 83%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App > main {
  min-height: 100px; 
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(44,42,64,1) 47%, rgba(11,17,12,1) 100%); 
  justify-content: space-evenly;  
  padding-top: 40px; 
}

.App > main > div > input {
  width: 25%; 
  height: 25px; 
  margin-bottom: 50px; 
  background: lightblue; 
  border-radius: 10px; 
}

#text_div {
  justify-content: flex; 
}

.App > main > div > button {
  width: 12%; 
  height: 25px; 
  background-color: black;
  color: white; 
  border: 2px solid rgb(10, 176, 226);
  margin-left: 10px; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.App > main > div > button:hover {
  background-color: darkblue; 
}

.App-header > img {
  width: 50%; 
  height: 50%; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  border-radius: 10px; 
  border-color: #61dafb; 
}

.App-header > button {
  width: 50%; 
  height: 50px; 
  border-radius: 10px; 
  background-color: black; 
  color: white; 
  border-color: cadetblue; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.App-header > button:hover {
  background-color: darkblue; 
}

.App-header > p {
  border-color: #61dafb; 
  border-width: 2px; 
  border-radius: 10px; 
  background: black; 
  margin-left: 15px; 
  margin-right: 15px; 
  margin-bottom: 15px; 
}

/* this rotates the main image (normally react image */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
